<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action = "https://twitteranalysisreport.herokuapp.com/get_report" method = "POST" 
         enctype = "multipart/form-data">
        Enter ScreenName : <input type="text" name = "ScreenName">
        <br> 
        Enter StartDate<input type="date" name="StartDate" >
        <br>
        Enter EndDate<input type="date" name="EndDate" >
        <br>
        <input type="submit">
    </form>
</body>
</html>
