<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>TwitterAnalysis</title>
</head>
<body>
    <h2>WordCloud: </h2>
    <img src="{{ user_image1 }}" width="1000" height="500"  alt="User Image1"></body>
    <h2>BarGraph: </h2>
    <img src="{{ user_image2 }}" width="1000" height="400" alt="User Image2"></body>
    <h2>PieChart: </h2>
    <img src="{{ user_image3 }}" width="500" height="500" alt="User Image3"></body>
    <h2>LineChart: </h2>
    <img src="{{ user_image4 }}" width="1000" height="400" alt="User Image4"></body>

</html>
